h1 {
    padding-top: 70px;
}

h2 {
}

h3 {
}

.navbar {
}

.welcome-title {
    color: darkgreen;
}

.d-flex {
}

.sidebar-sticky {
    padding-top: 50px;
}

.btn-toolbar {
    padding-top: 50px;
}